{% extends "chat/base.html" %}
    {% block body %}
    {%if msg%}
    <h3>{{msg}}</h3>
    {%endif%}
    <main class="min-h-screen flex flex-col items-center justify-center text-black">
        <div class="space-y-3 my-5">
            <h1 class="text-3xl font-extrabold text-white">Register for a free account</h1>
            <p class="text-center">
                or 
                <a href="/login" class="text-blue-400 border-b border-blue-400"> Login to an existing one</a>
            </p>
        </div>
        <div class="max-w-md w-full mx-auto bg-gray-200 rounded-lg p-7 space-y-3 font-mono">
            <form method="post">
                {% csrf_token %}
                <div class="flex flex-col">
                    <label class="mb-1 text-sm" htmlFor="email">Email</label>
                    <input class="border rounded-md px-3 py-2" type="email" name="email" placeholder="email@example.com" />
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 text-sm" htmlFor="username">Username</label>
                    <input class="border rounded-md px-3 py-2" type="username" name="username" />
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 text-sm" htmlFor="password">Password</label>
                    <input class="border rounded-md px-3 py-2 mb-1" type="password" name="password1" />
                </div>
                <div class="flex flex-col">
                    <label class="mb-1 text-sm" htmlFor="password2">Confirm Password</label>
                    <input class="border rounded-md px-3 py-2 mb-3" type="password" name="password2" />
                </div>
                

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="mb-5 p-4 rounded-xl bg-red-300 text-white">
                                <p>{{ error|escape }}</p>
                            </div>
                        {% endfor%}
                    {% endfor %}
                {% endif %}

                <div>
                    <button type="submit" class="w-full rounded-md bg-blue-400 text-white py-2">Register</button>
                </div>

            </form>
        </div>
    </main>
    {% endblock %}
   